{% extends 'base.html' %}
{% block content %}
    {% if evaluaciones %}
        <div class="container my-4">
            <center>
                <h2>Evaluacion de 6to Año de Informatica de la Materia
                    {% for evaluacione in evaluaciones %}
                      {% if forloop.first %}
                        {{ evaluacione.materia.titulo_materia }}
                      {% endif %}
                    {% endfor %}
                </h2>
            </center>
            <br>
            {% if group_name == 'profesores' %}
                <a class="btn btn-secondary" href="{% url 'evaluacion_crear' materia_id %}">Agregar evaluacion </a>
                <button class="btn btn-danger" id="delete-button">Eliminar evaluacion</button>
            {% endif %}
            <!-- sección de mensajes -->
            {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <form id="delete-form" method="POST" action="{% url 'evaluacion_borrar' %}">
                {% csrf_token %}
                
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
                    {% for evaluacione in evaluaciones %}
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text"><strong>Evaluacion: </strong>{{ evaluacione.titulo}}</p>
                                    <p class="card-text"><strong>Materia: </strong>{{ evaluacione.materia }}</p>
        
                                    
                                    <!--------------------------------------------ESTATUS ELABORAR---------------------------------------->
                                    {% if evaluacione.status == 'E' %}
                                        <h5><span class="badge bg-warning w-100">{{ evaluacione.get_status_display|upper }}</span></h5> 
                                    {% if group_name == 'profesores' %}
                                        <a class="btn btn-sm btn-success" href="{% url 'examenes_profesores' evaluacione.id %}">Examen</a>
                                    {% endif %}
                                    
        
                                      <!--------------------------------------------ESTATUS FINALIZAR---------------------------------------->
                                    {% elif evaluacione.status == 'F' %}
                                        <h5><span class="badge bg-danger w-100">{{ evaluacione.get_status_display|upper }}</span></h5>
                                    {% if group_name == 'profesores' %}
                                        <a class="btn btn-sm btn-success" href="{% url 'resultadosprofesores' evaluacion_id=evaluacione.id %}">Nota</a>
                                    {% endif %}
                                    {% if group_name == 'estudiantes' %}
                                        <a class="btn btn-sm btn-success"  href="{% url 'resultados' evaluacion_id=evaluacione.id  %}">Nota</a>
                                    {% endif %}
                                    {% if group_name == 'administrativos' %}
                                        <a class="btn btn-sm btn-success" href="{% url 'resultadosprofesores' evaluacion_id=evaluacione.id %}">Nota</a>
                                    {% endif %}
        
                                        <!--------------------------------------------ESTATUS REALIZAR---------------------------------------->
                                    {% elif evaluacione.status == 'R' %}
                                        <h5><span class="badge bg-success w-100">{{ evaluacione.get_status_display|upper }}</span></h5>
                                        {% if group_name == 'administrativos' %}
                                            <a class="btn btn-sm btn-success" href="{% url 'examenes_profesores' evaluacione.id %}">Ver examen</a>
                                        {% endif %}
                                        {% if group_name == 'estudiantes' %}
                                            <a class="btn btn-sm btn-success" href="{% url 'examenes' evaluacione.id %}">Realizar examen</a>
                                        {% endif %}
                                    {% endif %}   
                                    
                                     <!------------------------------------------------FIN DE LOS ESTATUS ---------------------------------------->
    
                                    {% if group_name == 'profesores' %}
                                        <a class="btn btn-sm btn-warning" href="{% url 'evaluacion_editar' evaluacione.id %}">Editar</a>
                                        <label class="checkbox-button">
                                            <input type="checkbox" name="evaluaciones_seleccionadas[]" value="{{ evaluacione.id }}" class="checkbox-evaluacion">
                                            <span>Borrar</span>
                                        </label>
                                    {% endif %}
                                   
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    {% else %}
            
        {% if group_name == 'profesores' %}
            <div class="container my-4">
                <a class="btn btn-secondary" href="{% url 'evaluacion_crear' materia_id %}">Agregar evaluacion </a>
                <div class="container">
                    {% if messages %}
                        <div class="container mt-3">
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="jumbotron my-4">
                        <center>
                           <h1>Por favor agregue una evaluacion</h1>
                        </center>
                    </div>
                </div>
            </div>
        {% endif %}
       
        {% if group_name == 'estudiantes' or group_name == 'administrativos' %}
            <div class="container">
                <div class="jumbotron my-4">
                    {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
                    <center>
                        <h1>Hasta el momento el docente no ha registrado ninguna evaluacion</h1>
                       </center>
                </div>
            </div>
        {% endif %}          
    {% endif %}
    <script>
        // Obtener referencias a los elementos del checkbox y el botón
        var checkboxes = document.getElementsByClassName('checkbox-evaluacion');
        var deleteButton = document.getElementById('delete-button');

        // Agregar un evento de escucha al cambio en el estado de los checkboxes
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', function() {
                // Verificar si al menos un checkbox está seleccionado
                var alMenosSeleccionado = false;
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        alMenosSeleccionado = true;
                        break;
                    }
                }

                // Habilitar o deshabilitar el botón según el estado de los checkboxes
                if (alMenosSeleccionado) {
                    deleteButton.disabled = false;
                } else {
                    deleteButton.disabled = true;
                }
            });
        }

        // Deshabilitar el botón al cargar la página si ningún checkbox está seleccionado inicialmente
        var alMenosSeleccionado = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                alMenosSeleccionado = true;
                break;
            }
        }
        if (!alMenosSeleccionado) {
            deleteButton.disabled = true;
        }

        // Agregar evento de escucha al botón de eliminación
        deleteButton.addEventListener('click', function() {
            // Mostrar el cuadro de diálogo de confirmación
            var result = confirm('¿Estás seguro de que deseas eliminar esta evaluacion? Esta acción no se puede deshacer.');
            // Verificar si el usuario hizo clic en "Aceptar"
            if (result) {
                // El usuario hizo clic en "Aceptar", proceder a borrar la materia
                document.getElementById('delete-form').submit();
            }
            // Cambiar el color de fondo del botón a verde
        });
    </script>

    <style>
        .checkbox-button {
            display: inline-block;
            padding: 4px 8px;
            background-color: #ff0000;
            color: white;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
{% endblock %}
